@model Models.Vehicle

@{
    ViewData["Title"] = "Add Vehicle";
    ViewBag.VActive = "active";

}

<hr />
<div>
    <form asp-action="Add">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Id" class="control-label font-weight-bold"></label>
            <input asp-for="Id" class="form-control" required />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Brand" class="control-label font-weight-bold"></label>
            <input asp-for="Brand" class="form-control" required />
            <span asp-validation-for="Brand" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="control-label font-weight-bold"></label>
            <input asp-for="Year" class="form-control" required />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Model" class="control-label font-weight-bold"></label>
            <input asp-for="Model" class="form-control" required />
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="control-label font-weight-bold"></label>
            <input asp-for="Type" class="form-control" required />
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReadyStatus" class="control-label font-weight-bold"></label>
            <div>
                @Html.DropDownList("ReadyStatus", new List<SelectListItem>{
                   new SelectListItem{ Text="True", Value = "true" },
                   new SelectListItem{ Text="False", Value = "false" }}, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="control-label font-weight-bold"></label>
            <div>
                @Html.DropDownList("Status", new List<SelectListItem>{
                   new SelectListItem{ Text="Active", Value = "true" },
                   new SelectListItem{ Text="Inactive", Value = "false" }}, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Parts" class="control-label font-weight-bold"></label>
            <textarea asp-for="Parts" class="form-control" required></textarea>
            <span asp-validation-for="Parts" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastMaintenanceDate" class="control-label font-weight-bold"></label>
            <input asp-for="LastMaintenanceDate" class="form-control" required />
            <span asp-validation-for="LastMaintenanceDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MaintenanceCycle" class="control-label font-weight-bold"></label>
            <input asp-for="MaintenanceCycle" class="form-control" required />
            <span asp-validation-for="MaintenanceCycle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
