
@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_ShareLogin.cshtml";
}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-2">Forgot Password Confirmation</h1>
    <p class="mb-4">
        If you have an account with us, we have sent an email
        with the instructions to reset your password.
        Click
        <a asp-action="Login" asp-controller="Account">here</a> 
        to return to Login page.
    </p>
</div>

 