@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_ShareLogin.cshtml";
}
<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
        </div>
        <form class="user">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="text" class="form-control form-control-user" asp-for="UsernameOrEmail" placeholder="Enter Username or Email">
                <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user" asp-for="Password" placeholder="Enter Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" asp-for="RememberMe">
                    <label class="custom-control-label" asp-for="RememberMe">
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" formmethod="post" class="btn btn-primary btn-user btn-block">Login</button>
        </form>
        <hr>
        <div class="text-center mb-2">
            <a class="small" asp-action="ForgotPassword" asp-controller="Account">Forgot Password?</a>
        </div>
        <div class="text-center">
            <a class="small" asp-action="Register" asp-controller="Account">Create an Account!</a>
        </div>
    </div>
</div>

