@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_ShareLogin.cshtml";
}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-2">Reset Password Confirmation</h1>
    <p class="mb-4">
        Your password is reset. Please click 
        <a asp-action="Login" asp-controller="Account">here to login</a>
    </p>
</div>
