@{
    Layout = "~/Areas/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
    ViewBag.Controller = "NoRole";
}
<div class="text-center">
    <div class="error mx-auto mt-5 mb-5" data-text="Wait!">Wait!</div>
    <p class="lead text-gray-800 mb-0">More action required from the Manager</p>
</div>