@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = ViewBag.PageTitle;
}
<hr/>
<p class="lead text-gray-800">
    @ViewBag.Message
</p>
<div>
    <a asp-action="Index" asp-controller="Home">Back to Dashboard</a>
</div>