@*Code added by Nicholas DeSanctis   Date added: 9/25/21
  Purpose: Changes home page to where it displays, creates, and fills in the Company table 
*@

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 