@model Models.OrderInfo

@{
    ViewData["Title"] = "Add Order Info";
}
<hr />
<form asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label font-weight-bold">Source Company</label>
        <select asp-for="SourceId" class="form-control" asp-items="ViewBag.SourceId"></select>
    </div>
    <div class="form-group">
        <label class="control-label font-weight-bold">Destination Company</label>
        <select asp-for="DestinationId" class="form-control" asp-items="ViewBag.DestinationId"></select>
    </div>
    <div class="form-group">
        <label asp-for="SourceAddress" class="control-label font-weight-bold"></label>
        <input asp-for="SourceAddress" class="form-control" />
        <span asp-validation-for="SourceAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DestinationAddresss" class="control-label font-weight-bold"></label>
        <input asp-for="DestinationAddresss" class="form-control" />
        <span asp-validation-for="DestinationAddresss" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label font-weight-bold"></label>
        <div>
            @Html.DropDownList("Status", new List<SelectListItem>{
               new SelectListItem{ Text="Active", Value = "true" },
               new SelectListItem{ Text="Inactive", Value = "false" }}, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label asp-for="SourcePay" class="control-label font-weight-bold"></label>
        <div>
            @Html.DropDownList("SourcePay", new List<SelectListItem>{
               new SelectListItem{ Text="True", Value = "true" },
               new SelectListItem{ Text="False", Value = "false" }}, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PayStatus" class="control-label font-weight-bold"></label>
        <div>
            @Html.DropDownList("PayStatus", new List<SelectListItem>{
               new SelectListItem{ Text="True", Value = "true" },
               new SelectListItem{ Text="False", Value = "false" }}, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label asp-for="TotalOrder" class="control-label font-weight-bold"></label>
        <input asp-for="TotalOrder" class="form-control" required />
        <span asp-validation-for="TotalOrder" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingFee" class="control-label font-weight-bold"></label>
        <input asp-for="ShippingFee" class="form-control" required />
        <span asp-validation-for="ShippingFee" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EstimateArrivalTime" class="control-label font-weight-bold"></label>
        <input asp-for="EstimateArrivalTime" class="form-control" required />
        <span asp-validation-for="EstimateArrivalTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>        

<div>
    <a asp-action="Index">Back to List</a>
</div>