@using Microsoft.AspNetCore.Identity
@using Models 
@inject SignInManager<Employee> signInManager
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - TCMS Web</title>

    <!-- Custom fonts for this template-->
    <link href="~/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">

    <style type="text/css"></style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <li>
                <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                    <div class="sidebar-brand-icon">
                        <i class="fas fa-truck fa-flip-horizontal"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">TCMS</div>
                </a>
            </li>

            <!-- Divider -->
            <li>
                <hr class="sidebar-divider my-0">
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>


            @if (signInManager.IsSignedIn(User) && User.IsInRole("Full Access"))
        {
            <!-- Divider -->
            <li>
                <hr class="sidebar-divider">
            </li>
            <li class="sidebar-heading">
                Human Resources
            </li>
            <!-- Nav Item - Employee -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Employee" asp-action="Index">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Employee</span>
                </a>

            </li>
            }
        @if (signInManager.IsSignedIn(User) &&
            (!User.IsInRole("Driver")))
        {
            <!-- Divider -->
            <li>
                <hr class="sidebar-divider">
            </li>
            <!-- Heading -->

            <li class="sidebar-heading">
                Maintenance Management
            </li>
            <!-- Nav Item - Maintenance -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Maintenance" asp-action="Index">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Maintenance</span>
                </a>

            </li>

            <!-- Nav Item - Vehicle -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Vehicle" asp-action="Index">
                    <i class="fas fa-fw fa-car"></i>
                    <span>Vehicle</span>
                </a>

            </li>
            }
        @if (signInManager.IsSignedIn(User) &&
            (User.IsInRole("Shipping") || User.IsInRole("Full Access")))
        {
            <!-- Divider -->
            <li>
                <hr class="sidebar-divider">
            </li>
            <!-- Heading -->

            <li class="sidebar-heading">
                Shipping Management
            </li>
            <!-- Nav Item - Shipping Assignment -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Shipping" asp-action="Index">
                    <i class="fas fa-fw fa-box-open"></i>
                    <span>Shipping Assignment</span>
                </a>
            </li>

            <!-- Nav Item - Order Info -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="OrderInfo" asp-action="Index">
                    <i class="fas fa-fw fa-sticky-note"></i>
                    <span>Order Info</span>
                </a>
            </li>

            <!-- Nav Item - Company -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Company" asp-action="Index">
                    <i class="fas fa-fw fa-building"></i>
                    <span>Company</span>
                </a>
            </li>
            } 
            <!-- Sidebar Toggler (Sidebar) -->
            <li class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </li>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column min-vh-100">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                                <img class="img-profile rounded-circle" src="~/sbadmin/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" asp-action="Profile" asp-controller="Home" asp-route-controller="Home">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" asp-action="UpdateEmail" asp-controller="Home" asp-route-controller="Home">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Update Email
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
                    </div>
                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © TCMS Web 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="~/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/sbadmin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/sbadmin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/sbadmin/js/demo/chart-area-demo.js"></script>
    <script src="~/sbadmin/js/demo/chart-pie-demo.js"></script>



</body>
</html>