@{
    Layout = ViewBag.Layout;
    ViewData["Title"] = ViewBag.PageTitle;
}
<div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">@ViewBag.PageTitle</h1>
            <p class="mb-4">
                @ViewBag.Message
                Click
                <a asp-action="Login" asp-controller="Account">here</a>
                to return to Login page.
            </p>
        </div>
    </div>
</div>