@{
    Layout = ViewBag.Layout;
    ViewData["Title"] = ViewBag.PageTitle;
}

<div class="text-center">
    <div class="error mx-auto mt-5 mb-5" data-text="@ViewBag.PageTitle">@ViewBag.PageTitle</div>
    <p class="lead text-gray-800 mb-0">@ViewBag.Message</p>
</div>
