@model Models.AssignmentDetail

@{
    ViewData["Title"] = "Edit Assignment Detail";
}
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="OrderInfoId" class="control-label"></label>
        <select asp-for="OrderInfoId" class="form-control" asp-items="ViewBag.OrderInfoId"></select>
    </div>
    <div class="form-group">
        <label asp-for="InShipping" class="control-label"></label>
        <input asp-for="InShipping" class="form-control" required />
        <span asp-validation-for="InShipping" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ArrivalConfirm" class="control-label"></label>
        <input asp-for="ArrivalConfirm" class="form-control" required/>
        <span asp-validation-for="ArrivalConfirm" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ArrivalTime" class="control-label"></label>
        <input asp-for="ArrivalTime" class="form-control" />
        <span asp-validation-for="ArrivalTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <input asp-for="Status" class="form-control" required />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-controller="Shipping" asp-action="Details" asp-route-id=@Model.ShippingAssignmentId> Back to List</a>
</div>
